.App {
  margin: 2rem;
}

.quote {
  border: 1px solid black;
  width: 400px;
}

.quote-input {
  height: 100px;
  width: 500px;
}

main {
  display: flex;
  flex-direction: column;
}

.create {
  border: 1px solid black;
}
.content {
  border: 1px solid black;
  height: 700px;
  padding: 2rem;
}